@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.wrapper > div:last-child {
    width: 86%;
}

.wrapper > div:last-child #_pages_content {
    width: 100%;
}

.side-bar{
    max-width: 15rem;
    height: 100%;
    background: #F7F1F1;
    padding: 1.2rem ;
}

.side-bar h1{
    text-align: center;
    color: #BA5A5C;
}

.side-bar > span {
    color: #310809;
    font-size: 18px;
}

.nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav li {
    padding: 10px 1.5rem;
    width: 100%;
    border-radius: 8px;
}

.nav li.active,
.nav li:hover {
    background-color: #dd707251;
}

nav li a {
    color: gray;
    text-decoration: none;
}

nav li a i {
    margin-right: 15px;
}

.nav li.active a,
.nav li:hover a {
    color: #CF5A5C;
}

